.bills-container {
  width: 100vw;
  display: grid;
  place-content: center;
  gap: 20px;
  padding: 30px;
}

.bills-wrapper {
  width: 90vw;
  gap: 20px;

  display: flex;
  flex-direction: column;
  place-content: center;

  gap: 20px;
}

.filter-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  select {
    font-weight: 600;
    height: 40px;

    border-radius: 5px;
    border: 1px solid #ccc;

    padding: 0px 15px;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-color: #fafafa;
    width: 150px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
    background-position: 100%;
    background-repeat: no-repeat;
  }
}
