
.chart {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  .linechart{
    max-width: 800px;
    max-height: 500px;

  }
}
