nav {
  width: 100%;
  display: flex;
  text-transform: uppercase;
  background-color: #645cff;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 600px) {
    flex-direction: column;

  }
  .menu-items{
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .Nav-logo,
  .menu-item {

    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;

  }
  .Nav-logo {
    padding: 20px 10px;
    font-weight: bold;
    font-size: large;
    &:hover {
      color: black;
    }
  }

  .menu-item {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 8px;
    color: #645cff;
    font-weight: 600;

    border-radius: 5px;
    font-size: 13px;

    &:hover {
    color: black;

      background-color: #ccc;
    }

  }
}
